{% if projectListItems.length %}
  <section class="[ project-list ] [ pad-top-700 gap-bottom-900 ]">
    <div class="[ inner-wrapper ] [ sf-flow ]">
      <h2 class="[ project-list__heading ] [ text-700 md:text-800 ]">{{ projectListHeading }}</h2>
      <ol class="[ project-list__items ] [ sf-flow ] [ pad-top-300 ]" reversed>
        {% for item in projectListItems %}
          {% if item.date.getTime() <= global.now %}
            <li class="project-list__item">
              <h3 class="font-base leading-tight text-600 weight-mid">
                <a href="{{ item.url }}" class="project-list__link" rel="bookmark">{{ item.data.title }}</a>
              </h3>
              <p class="text-500 gap-top-300 weight-mid">
                <time datetime="{{ item.date | w3DateFilter }}">{{ item.date | dateFilter }}</time>
              </p>
            </li>
          {% endif %}
        {% endfor %}
      </ol>
    </div>
  </section>
{% endif %}
