{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
  {{ content | safe }}
{% endset %}

{# Project list content #}
{% set projectListHeading = projectsHeading %}
{% set projectListItems = collections.projectFeed %}

{# Projects link #}
{% if projectListItems.length < collections.projects.length %} 
  {% set paginationNextText = projectsButtonText %}
  {% set paginationNextUrl = '/projects' %}
{% endif %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/intro.njk" %}
    {% include "partials/components/project-list.njk" %}
    {% include "partials/components/pagination.njk" %}
  </main>
{% endblock %}
