---
permalink: '/feed.xml'
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.name }}</title>
	<subtitle></subtitle>
	<link href="{{ site.url }}{{ permalink }}" rel="self"/>
	<link href="{{ site.url }}/"/>
	{% if collections.projects|length %}
	<updated>{{ collections.projects | rssLastUpdatedDate }}</updated>
	{% endif %}
	<id>{{ site.url }}</id>
	<author>
  <name>{{ site.authorName }}</name>
  <email>{{ site.authorEmail }}</email>
	</author>
	{% for project in collections.projects %}
  {% set absoluteProjectUrl %}{{ site.url }}{{ project.url | url }}{% endset %}
  <entry>
    <title>{{ project.data.title }}</title>
    <link href="{{ absoluteProjectUrl }}"/>
    <updated>{{ project.date | rssDate }}</updated>
    <id>{{ absoluteProjectUrl }}</id>
    <content type="html"><![CDATA[
      {{ project.templateContent | safe }}
    ]]></content>
  </entry>
	{% endfor %}
</feed>
